<Configuration>
	<Name>Google Search</Name>
	<Author>Atlas Systems, Inc.</Author>
	<Version>2.1.0</Version>
	<Active>false</Active>

	<Description>Performs a generic Google search for the LoanTitle for loans and the PhotoArticleTitle for articles.</Description>

	<Forms>
		<Form>FormRequest</Form>
	</Forms>	

	<Settings>
		<Setting name='AutoSearch' value='true' type='boolean'>
			<Description>Defines whether the search should be automatically performed when the form opens.</Description>
		</Setting>
	</Settings>

	<Files>
		<File>GoogleSearch.lua</File>
	</Files>
</Configuration>
